@using FormData.Models
@model CustomerViewModel

@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="font-md">Customer Sign In</div>
<div class="well">
    <form method="post" class="form-horizontal">
        @Html.AntiForgeryToken()
        <!--Line below: "false" will display all the errors on the model -->
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <!-- CompanyName List -->
        <div class="form-group">
            @Html.LabelFor(model => model.CustomerId, "Company Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CustomerId", null, htmlAttributes: new { @class = "form-control signin-form" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Password, "Password *", htmlAttributes: new { @class =
                "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control",
                    placeholder = "Enter Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <!-- Submit button -->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default" id="in">Sign In</button>
            </div>
        </div>
    </form>
</div>


<html>
<body>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            toastr.options.timeOut = 10500; // 1.5s
            $('#in').click(function () {
                toastr.success('You are signed in to your account');
            });
        });

    </script>
</body>
</html>


<!--script code below will handle error msg on the front end pulling it from jquery file-->

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
